HELP.md
zuul/target/
eureka/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
zuul/.idea
zuul/*.iws
zuul/*.iml
zuul/*.ipr

eureka/.idea
eureka/*.iws
eureka/*.iml
eureka/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
